
.task {
    margin: 1rem;
    /* background: rebeccapurple; */
    border-right: 2px solid rebeccapurple;
    border-left: 2px solid rebeccapurple;
    width: 40rem;
    padding: 1.5rem;
    /* border-radius: 0.25rem; */
    display: flex;
    flex-direction: row;
}

.textTask {
    margin: 0rem 0.75rem;
    width: 100%;
    text-align: justify;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.buttonEditTask {
    border: 1px solid #6272a4;
    margin: 0.25rem;
    width: 2rem;
    height: 2rem;
    background: #fff;
    border-radius: 0.5rem;
    font-size: 1rem;
    color: #6272a4;
    transition: background 0.2s, color 0.2s;
}

.buttonEditTask:hover {
    color: #fff;
    background: #6272a4;
}

.buttonDeleteTask {
    border: 1px solid #ff5555;
    margin: 0.25rem;
    width: 2rem;
    height: 2rem;
    background: #fff;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    color: #ff5555;
    transition: background 0.2s, color 0.2s;
}

.buttonDeleteTask:hover {
    color: #fff;
    background: #ff5555;
}